In [1]:
from bs4 import BeautifulSoup as bs
import bs4
import pandas as pd
import requests
import json
from pprint import pprint

In [2]:
i = 1
middle_url = "https://www.greatschools.org/virginia/schools/?gradeLevels%5B%5D=m&st%5B%5D=public_charter&st%5B%5D=public&view=table&page=" + str(i)
print(middle_url)

https://www.greatschools.org/virginia/schools/?gradeLevels%5B%5D=m&st%5B%5D=public_charter&st%5B%5D=public&view=table&page=1

In [3]:
response = requests.get(middle_url)
soup = bs(response.text, "html.parser")

In [4]:
s = soup.findAll('script')
cdata = s[0].contents[0]

In [5]:
school_data = cdata.split('gon.search=')
school_data = school_data[1]
school_data = school_data.replace(";\n//]]>\n","")

In [6]:
school_data= json.loads(school_data)

In [7]:
total_pages = school_data['totalPages']
total_pages

27

In [8]:
zip_code = []
school_name = []
school_rating = []
percent_low_income = []
grade_levels = []

In [9]:
i = 1
j = 1
for page in range(total_pages):
    middle_url = "https://www.greatschools.org/virginia/schools/?gradeLevels%5B%5D=m&st%5B%5D=public_charter&st%5B%5D=public&view=table&page=" + str(i)
    response = requests.get(middle_url)
    soup = bs(response.text, "html.parser")
    
    s = soup.findAll('script')
    cdata = s[0].contents[0]

    school_data = cdata.split('gon.search=')
    school_data = school_data[1]
    school_data = school_data.replace(";\n//]]>\n","") 
    
    school_data= json.loads(school_data)
    
    for school in school_data['schools']:
        current_zip_code = school['address']['zip']
        zip_code.append(current_zip_code)
    
        current_school_name = school['name']
        school_name.append(current_school_name)
    
        current_school_rating = school['rating']
        school_rating.append(current_school_rating)
    
        current_percent_low_income = school['percentLowIncome']
        percent_low_income.append(current_percent_low_income)
    
        current_grade_levels = school['gradeLevels']
        grade_levels.append(current_grade_levels)
        
        print(f'school {j}')
        j= j +1
    i = i+1
print('done collecting data')

school 1
school 2
school 3
school 4
school 5
school 6
school 7
school 8
school 9
school 10
school 11
school 12
school 13
school 14
school 15
school 16
school 17
school 18
school 19
school 20
school 21
school 22
school 23
school 24
school 25
school 26
school 27
school 28
school 29
school 30
school 31
school 32
school 33
school 34
school 35
school 36
school 37
school 38
school 39
school 40
school 41
school 42
school 43
school 44
school 45
school 46
school 47
school 48
school 49
school 50
school 51
school 52
school 53
school 54
school 55
school 56
school 57
school 58
school 59
school 60
school 61
school 62
school 63
school 64
school 65
school 66
school 67
school 68
school 69
school 70
school 71
school 72
school 73
school 74
school 75
school 76
school 77
school 78
school 79
school 80
school 81
school 82
school 83
school 84
school 85
school 86
school 87
school 88
school 89
school 90
school 91
school 92
school 93
school 94
school 95
school 96
school 97
school 98
school 99
school 100
school 101
school 102
school 103
school 104
school 105
school 106
school 107
school 108
school 109
school 110
school 111
school 112
school 113
school 114
school 115
school 116
school 117
school 118
school 119
school 120
school 121
school 122
school 123
school 124
school 125
school 126
school 127
school 128
school 129
school 130
school 131
school 132
school 133
school 134
school 135
school 136
school 137
school 138
school 139
school 140
school 141
school 142
school 143
school 144
school 145
school 146
school 147
school 148
school 149
school 150
school 151
school 152
school 153
school 154
school 155
school 156
school 157
school 158
school 159
school 160
school 161
school 162
school 163
school 164
school 165
school 166
school 167
school 168
school 169
school 170
school 171
school 172
school 173
school 174
school 175
school 176
school 177
school 178
school 179
school 180
school 181
school 182
school 183
school 184
school 185
school 186
school 187
school 188
school 189
school 190
school 191
school 192
school 193
school 194
school 195
school 196
school 197
school 198
school 199
school 200
school 201
school 202
school 203
school 204
school 205
school 206
school 207
school 208
school 209
school 210
school 211
school 212
school 213
school 214
school 215
school 216
school 217
school 218
school 219
school 220
school 221
school 222
school 223
school 224
school 225
school 226
school 227
school 228
school 229
school 230
school 231
school 232
school 233
school 234
school 235
school 236
school 237
school 238
school 239
school 240
school 241
school 242
school 243
school 244
school 245
school 246
school 247
school 248
school 249
school 250
school 251
school 252
school 253
school 254
school 255
school 256
school 257
school 258
school 259
school 260
school 261
school 262
school 263
school 264
school 265
school 266
school 267
school 268
school 269
school 270
school 271
school 272
school 273
school 274
school 275
school 276
school 277
school 278
school 279
school 280
school 281
school 282
school 283
school 284
school 285
school 286
school 287
school 288
school 289
school 290
school 291
school 292
school 293
school 294
school 295
school 296
school 297
school 298
school 299
school 300
school 301
school 302
school 303
school 304
school 305
school 306
school 307
school 308
school 309
school 310
school 311
school 312
school 313
school 314
school 315
school 316
school 317
school 318
school 319
school 320
school 321
school 322
school 323
school 324
school 325
school 326
school 327
school 328
school 329
school 330
school 331
school 332
school 333
school 334
school 335
school 336
school 337
school 338
school 339
school 340
school 341
school 342
school 343
school 344
school 345
school 346
school 347
school 348
school 349
school 350
school 351
school 352
school 353
school 354
school 355
school 356
school 357
school 358
school 359
school 360
school 361
school 362
school 363
school 364
school 365
school 366
school 367
school 368
school 369
school 370
school 371
school 372
school 373
school 374
school 375
school 376
school 377
school 378
school 379
school 380
school 381
school 382
school 383
school 384
school 385
school 386
school 387
school 388
school 389
school 390
school 391
school 392
school 393
school 394
school 395
school 396
school 397
school 398
school 399
school 400
school 401
school 402
school 403
school 404
school 405
school 406
school 407
school 408
school 409
school 410
school 411
school 412
school 413
school 414
school 415
school 416
school 417
school 418
school 419
school 420
school 421
school 422
school 423
school 424
school 425
school 426
school 427
school 428
school 429
school 430
school 431
school 432
school 433
school 434
school 435
school 436
school 437
school 438
school 439
school 440
school 441
school 442
school 443
school 444
school 445
school 446
school 447
school 448
school 449
school 450
school 451
school 452
school 453
school 454
school 455
school 456
school 457
school 458
school 459
school 460
school 461
school 462
school 463
school 464
school 465
school 466
school 467
school 468
school 469
school 470
school 471
school 472
school 473
school 474
school 475
school 476
school 477
school 478
school 479
school 480
school 481
school 482
school 483
school 484
school 485
school 486
school 487
school 488
school 489
school 490
school 491
school 492
school 493
school 494
school 495
school 496
school 497
school 498
school 499
school 500
school 501
school 502
school 503
school 504
school 505
school 506
school 507
school 508
school 509
school 510
school 511
school 512
school 513
school 514
school 515
school 516
school 517
school 518
school 519
school 520
school 521
school 522
school 523
school 524
school 525
school 526
school 527
school 528
school 529
school 530
school 531
school 532
school 533
school 534
school 535
school 536
school 537
school 538
school 539
school 540
school 541
school 542
school 543
school 544
school 545
school 546
school 547
school 548
school 549
school 550
school 551
school 552
school 553
school 554
school 555
school 556
school 557
school 558
school 559
school 560
school 561
school 562
school 563
school 564
school 565
school 566
school 567
school 568
school 569
school 570
school 571
school 572
school 573
school 574
school 575
school 576
school 577
school 578
school 579
school 580
school 581
school 582
school 583
school 584
school 585
school 586
school 587
school 588
school 589
school 590
school 591
school 592
school 593
school 594
school 595
school 596
school 597
school 598
school 599
school 600
school 601
school 602
school 603
school 604
school 605
school 606
school 607
school 608
school 609
school 610
school 611
school 612
school 613
school 614
school 615
school 616
school 617
school 618
school 619
school 620
school 621
school 622
school 623
school 624
school 625
school 626
school 627
school 628
school 629
school 630
school 631
school 632
school 633
school 634
school 635
school 636
school 637
school 638
school 639
school 640
school 641
school 642
school 643
school 644
school 645
school 646
school 647
school 648
school 649
school 650
school 651
school 652
school 653
school 654
school 655
school 656
school 657
school 658
school 659
school 660
school 661
school 662
school 663
school 664
school 665
school 666
school 667
school 668
school 669
school 670
school 671
school 672
school 673
done collecting data

In [10]:
len(zip_code)

673

In [11]:
middle_schools_df = pd.DataFrame(
    {'zip_code': zip_code,
     'school_name': school_name,
     'school_rating': school_rating,
     'grade_levels': grade_levels,
     'percent_low_income': percent_low_income
    })
middle_schools_df.head()

,zip_code,school_name,school_rating,grade_levels,percent_low_income
0,23456,Kemps Landing Magnet,10.0,2-8,10%
1,24283,St. Paul Elementary School,10.0,PK-8,57%
2,22191,Mary G. Porter Traditional,10.0,1-8,19%
3,22101,Cooper Middle School,10.0,7-8,3%
4,23059,Holman Middle School,9.0,6-8,8%

In [12]:
middle_schools_df['percent_low_income'] = middle_schools_df['percent_low_income'].str.replace('%', '')

In [13]:
middle_schools_df.head()

,zip_code,school_name,school_rating,grade_levels,percent_low_income
0,23456,Kemps Landing Magnet,10.0,2-8,10
1,24283,St. Paul Elementary School,10.0,PK-8,57
2,22191,Mary G. Porter Traditional,10.0,1-8,19
3,22101,Cooper Middle School,10.0,7-8,3
4,23059,Holman Middle School,9.0,6-8,8

In [14]:
middle_schools_df.to_csv('middle_schools_data.csv', index=False)